body {
    margin: 0
}

nav {
  background-color: #f0efef;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.imglo {
  width: 50px;
  padding-left: 10px;
  padding-right: 20px;
  cursor: pointer;
}

nav h1 {
  width: 500px;
  text-decoration: none;
  font: 400 20px "Gotham", sans-serif;
}

nav ul {
  list-style: none;
  width: 100%;
  text-align: right;
  padding-right: 20px;
}

nav ul li{
  display: inline-block;
  margin: 10px 20px;
}

nav ul li a{
  color: #000000;
  text-decoration: none;
  font: 400 16px "Gotham", sans-serif;
}

.fdn {
  width: 100%;
}

.footer {
  width: 96%;
  padding: 30px;
  background: #000000;
  color: #ffff;
  display: flex;
  font: 200 15px "Gotham", sans-serif;
  justify-content: space-between;
}

.col3 {
  text-align: right;
}

.footer div h3{
  margin-bottom: 30px;
  letter-spacing: 1px;
}

.socials {
  padding-right: 150px;
  margin-top: 20px;
}

.socials i {
  font-size: 40px;
  margin: 10px;
  cursor: pointer;
}